<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p [%-40.40logger] %m%n" />   <!-- 대괄호는 의미 없음
          %-40.40logger 가 중요하다고 함.콘솔에 출력되는 클래스 이름이 %-40.40logger    --> 
          <!-- 13:56:57.935 DEBUG [cim.itwill.lab05.web.FrontController    ] doGet 
          모든 내용을 이런식으로 출력하겠다 라는게 패턴레이아웃 -->    
        </Console>
    </Appenders>
    <!-- 
    로그 패턴:
        %d, %date : 로그 출력 날짜/시간.
        %p, %level : 로그 레벨. all < trace < debug < info < warn < error < fatal < off
        %c, %logger : 로그를 출력하는 Logger 객체.
        %m는 %message라고 쓴 것 과 같음 : 로그 메세지
        %n : 줄바꿈(new line).
        %L 혹은 %line : 로그를 출력하는 소스 코드의 줄 번호.(몇번째 줄에서 출력하는 건지)
        
         warn는 오류는 아닌데 경고
         trace는 그냥 프린트 해보고 싶은 그런거. 에러가 아니라고 함. 그냥 개발자가 출력해보려고
         fatal는 심각한 오류
     -->
    <Loggers>
        <Logger name="com.zaxxer.hikari" level="info" additivity="false"><!--level="info" info 이상을 보여줄건지 설정 -->
            <AppenderRef ref="console" /><!--info이상. info < warn < error < fatal < off만 출력되게 설정함. -->
        </Logger>
        <Root level="debug" additivity="false"> <!-- additivity="false" 같은 내용 중복으로 덧붙이지 않겠다 -->
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>